In [1]:
#import needed libraries
import pandas as pd
import nltk

In [3]:
data = pd.read_csv('IA3.csv')

In [4]:
data.describe()

                id
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000